{% extends "_Layout.html" %}
{% block title %}Employee Master{% endblock title %}

{% block body %}
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            
        </div>
        <div class="col-md-6">
            
        </div>
    </div>
</div> -->
{% if edit %}
<h3>Edit Employee</h3>
<form method="post" action="/editEmployee">
{% else %}
<h3>Add Employee</h3>
<form method="post" action="/addEmployee">
{% endif %}

{% csrf_token %}


<div class="container-fluid box">
    <div class="chartbg">
        <div class="row">
            <div class="col-12">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <h4 class="heading mb-0">Employee details</h4>
                    <a href="emplMaster"><button class="btn btn-grey" type="button">Back To List</button></a>
                </div>
            </div>
        </div>
        <hr>
        
        <div class="row">

            <div class="col-12 col-sm-6 col-md-3">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">First Name</label>
                        <input type="text" class="form-control" id="fName" name="fName" placeholder="Enter first name" required>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Last Name</label>
                        <input type="text" class="form-control" id="lName" name="lName" placeholder="Enter last name" required>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Date Of Birth</label>
                        <input type="text" class="form-control" id="dob" name="dob" placeholder="Enter Date Of Birth" readonly>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Email Id</label>
                        <input type="email" class="form-control" id="emailId" name="emailId" placeholder="Enter email Id" required>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Contact Number</label>
                        <input type="text" class="form-control" id="contactNo" name="contactNo" placeholder="Enter contact number" 
       required pattern="\d{10}" maxlength="10" title="Please enter a 10-digit contact number" oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10);">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Address Line 1</label>
                        <input type="text" class="form-control" id="addLine1" name="addLine1" placeholder="Enter address Line 1" required>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="card-body">
                    <div class="form-group" id="divUserType">
                        <label for="exampleFormControlInput1">Address Line 2</label>
                        <input type="text" class="form-control" id="addLine2" name="addLine2" placeholder="Enter address Line 2">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="card-body">
                    <div class="form-group" >
                        <label for="exampleFormControlInput1">State</label>
                        <input type="text" class="form-control" id="state" name="state" placeholder="State" required>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="card-body">
                    <div class="form-group" >
                        <label for="exampleFormControlInput1">City</label>
                        <input type="text" class="form-control" id="city" name="city" placeholder="City" required>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Pin Code</label>
                        <input type="text" class="form-control" id="pinCode" name="pinCode" placeholder="Enter 6 digit pin code" 
       required pattern="\d{06}"  minlength="6" maxlength="6" oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 6);">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Department</label>
                        <select class="form-control" id="depId" name="depId" required>
                            <option value="" disabled selected>Select Department</option>
                            {% for dep in department %}
                                <option value="{{ dep.id }}">{{ dep.val1 }}</option> <!-- Adjust the attribute according to your model -->
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
       
            <div class="col-12 col-sm-6 col-md-3">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Work Location</label>
                        <select class="form-control" id="workLocationId" name="workLocationId" required>
                            <option value="" disabled selected>Select Working Location</option>
                            {% for dep in workLocations %}
                                <option value="{{ dep.id }}">{{ dep.val1 }}</option> <!-- Adjust the attribute according to your model -->
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>    
            <div class="col-12 col-sm-6 col-md-3">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Employee Type</label>
                        <select class="form-control" id="employeeTypeId" name="employeeTypeId" required>
                            <option value="" disabled selected>Select Employee Type</option>
                            {% for dep in employeeType %}
                                <option value="{{ dep.id }}">{{ dep.val1 }}</option> <!-- Adjust the attribute according to your model -->
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div> 
            <div class="col-12 col-sm-6 col-md-3">
                <div class="card-body">
                    <div class="form-group">
                        <label for="isHeader">Is Active</label>
                        <div class="form-check">
                           <input type="checkbox" class="form-check-input" id="isActive" name="isActive" value="true">
                           <label class="form-check-label" for="isActive">Check to keep user active</label>
                        </div>
                    </div>
                </div>
            </div>
       </div>

       <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card-body">
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">submit</button>
                </div>
            </div> 
       </div>               
       </div>
    </div>
</div>

</form>

<script>
    
    $(function() {
        var eighteenYearsAgo = new Date();
        eighteenYearsAgo.setFullYear(eighteenYearsAgo.getFullYear() - 18);
        $("#dob").datepicker({
            dateFormat: "yy-mm-dd", 
            changeMonth: true,       
            changeYear: true,       
            yearRange: "1950:2050",
            defaultDate: eighteenYearsAgo, 
            setDate: eighteenYearsAgo
        });
    });
    </script>
{% endblock body %}