{% extends "_Layout.html" %}
{% block title %}Emp Master{% endblock title %}About
{% block body %}
<h4>Emp Master</h4>

<div class="container-fluid box">
    <div class="chartbg">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-end">
                    <a href="/addEmployee"><button class="btn btn-outline-success" type="button">Add Employee</button></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-sm-2">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">First Name</label>
                        <input type="text" class="form-control" id="fName" name="fName" placeholder="Enter first name to search from system" required>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-2">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Last Name</label>
                        <input type="text" class="form-control" id="lName" name="lName" placeholder="Enter last name to search from system" required>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-2">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Email Id</label>
                        <input type="text" class="form-control" id="emailId" name="emailId" placeholder="Enter email id to search from system" required>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-2">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Contact No</label>
                        <input type="text" class="form-control" id="contact" name="contact" placeholder="Enter contact no. to search from system" required>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-2">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Address</label>
                        <input type="text" class="form-control" id="address" name="address" placeholder="Enter address to search from system" required>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-2">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Is Active</label>
                        <input type="text" class="form-control" id="isActive" name="isActive" placeholder="Enter to search from system" required>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-2">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Department</label>
                        <select class="form-control" id="depId" name="depId" required>
                            <option value="" disabled selected>Select Department</option>
                            {% for dep in department %}
                                <option value="{{ dep.id }}">{{ dep.val1 }}</option> <!-- Adjust the attribute according to your model -->
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-2">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Work Location</label>
                        <select class="form-control" id="workLocationId" name="workLocationId" required>
                            <option value="" disabled selected>Select Working Location</option>
                            {% for dep in workLocations %}
                                <option value="{{ dep.id }}">{{ dep.val1 }}</option> <!-- Adjust the attribute according to your model -->
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-2">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Employee Type</label>
                        <select class="form-control" id="employeeTypeId" name="employeeTypeId" required>
                            <option value="" disabled selected>Select Employee Type</option>
                            {% for dep in employeeType %}
                                <option value="{{ dep.id }}">{{ dep.val1 }}</option> <!-- Adjust the attribute according to your model -->
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-outline-success button-spacing" type="button">Search</button>
                        <button class="btn btn-grey" type="button">Clear</button>
                    </div>
                </div> 
            </div>            
        </div>
    </div>
</div>

<div class="container-fluid box">
    <div class="chartbg">
        <div class="row">
            <div class="col-12">
                <div class="card-body">
                    <h4 class="heading">
                        Employees
                    </h4>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <div id="Header-grid" data-step="6" data-intro="Header Info"></div>
<table id="employeeDataTable" class="display">

</table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function() {
        LoadEmpGrid();
        $('[data-toggle="tooltip"]').tooltip(); 
    });

    
    function LoadEmpGrid() {
        if ($.fn.DataTable.isDataTable('#employeeDataTable')) {
            $('#employeeDataTable').DataTable().clear().destroy();
        }
        $('#employeeDataTable').DataTable({
            "dom": 'Blfrtip',
            //"sScrollY": '50vh',
            //"sScrollX": true,
            "initComplete": function (settings, json) {
                $("#employeeDataTable").wrap("<div id='employeeDataTableParent' style='overflow:auto; width:100%;position:relative;'></div>");
            },
            "scrollCollapse": true,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ordering": false,
            "drawCallback": function (settings) {
                //onDataBound();
            },
            //"fixedColumns": {
            //    leftColumns: 0
            //},
            "ajax": {
                "url": "/GetemployeeData",
                "type": "GET",
                "datatype": "json",
                //"data": RequestSearchData()
            },
            "columns": [
            {
                "data": "FirstName",
                "name": "First Name",
                "title": "FirstName",
                "className": "text-center"
            },
                {
                    "data": "LastName",
                    "name": "Last Name",
                    "title": "LastName",
                    "className": "text-left"
                },
                {
                    "data": "DOB",
                    "name": "Date Of Birth",
                    "title": "DOB",
                    "className": "text-left"
                },
                {
                    "data": "EmailId",
                    "name": "EmailId",
                    "title": "EmailId",
                    "className": "text-left"
                },
                {
                    "data": "ContactNo",
                    "name": "ContactNo",
                    "title": "ContactNo",
                    "className": "text-center"
                },
                {
                    "data": "Address",
                    "name": "Address",
                    "title": "Address",
                    "className": "text-center"
                },
                {
                    "data": "DepartmentId",
                    "name": "DepartmentId",
                    "title": "DepartmentId",
                    "className": "text-center"
                },
                {
                    "data": "EmploymentTypeID",
                    "name": "EmploymentTypeID",
                    "title": "EmploymentTypeID",
                    "className": "text-center"
                },
                {
                    "data": "WorkLocationID",
                    "name": "WorkLocationID",
                    "title": "WorkLocationID",
                    "className": "text-center"
                },
                {
                    "data": "IsDeleted",
                    "name": "IsDeleted",
                    "title": "IsDeleted",
                    "render": function (data) {
                        return '<span data-toggle="tooltip" title="Is active?"><i class="fa ' + (data ? 'fa-check text-success' : 'fa-times text-danger') + '" aria-hidden="true"></i></span>';
                        // getToolTip(data.CSMTeamStatus, data.CSMTeamDays, data.CSMTeamApprovedBy);
                    }
                },
                {
                    "data": "id",
                    "name": "Action",
                    "title": "Action",
                    render: function (data) {
                        return `
        <a href="/editEmployee/${data}/">
            <span data-toggle="tooltip" title="Edit">
                <i class="fas fa-edit" aria-hidden="true" style="color: blue;"></i>
            </span>
        </a>
        <a href="/deleteEmployee/${data}/" onclick="return confirm('Are you sure you want to delete this item?');">
            <span data-toggle="tooltip" title="Delete">
                <i class="fas fa-trash" aria-hidden="true" style="color: red;"></i>
            </span>
        </a>
    `;
                    }
                    //"render": function (data) {
                    //   return '<span data-toggle="tooltip" title="Edit"><i class="fas fa-edit" aria-hidden="true" style="color: blue;"></i></span>';
                    //    //return '<a href="/Master/User/Edit/' + data + '"><span data-toggle="tooltip" title="Edit"><i class="fas fa-edit" aria-hidden="true" style="color: blue;></i></a>';
                        // getToolTip(data.CSMTeamStatus, data.CSMTeamDays, data.CSMTeamApprovedBy);
                    //}
                }
            ],
    
            "columnDefs": [
                {
                    "targets": "_all",
                    "className": "text-center",
                    "autoWidth": true
                }],
            "lengthMenu": [[15, 30, 45, 60], [15, 30, 45, 60]],
            //"lengthMenu": [[2, 3, 4, 6], [2, 3, 4, 6]],
            "buttons": []
        });
    }

    function getToolTip(Days, ApprovedBy) {
        var tooltip = '';
        tooltip += 'Days: ' + Days + '\n';
        tooltip += 'Approved By: ' + ApprovedBy + '\n';
        return tooltip;
    }
    
    function getIcon(status) {
    
        if (status == false) {
            return "<i class='fa fa-times text-danger'  aria-hidden='true'></i>"
        }
        else {
            return "<i class='fa fa-check text-success'  aria-hidden='true'></i>"
        }
    
    }
    
</script>


{% endblock body %}