{% extends "_Layout.html" %}
{% block title %}UDC Master{% endblock title %}About
{% block body %}
<h4>UDC Master</h4>

<div class="container-fluid box">
    <div class="chartbg">
        <div class="row">
            <div class="col-12">
                <div class="card-body">
                    <h4 class="heading">
                        Headers
                    </h4>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <div id="Header-grid" data-step="6" data-intro="Header Info"></div>
                <table id="UDCHeaders" class="display nowrap">
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function() {
        LoadUserGrid();
    });

    function LoadUserGrid() {
        if ($.fn.DataTable.isDataTable('#UDCHeaders')) {
            $('#UDCHeaders').DataTable().clear().destroy();
        }
        $('#UDCHeaders').DataTable({
            "dom": 'Blfrtip',
            //"sScrollY": '50vh',
            //"sScrollX": true,
            "initComplete": function (settings, json) {
                $("#UDCHeaders").wrap("<div id='UDCHeadersParent' style='overflow:auto; width:100%;position:relative;'></div>");
            },
            "scrollCollapse": true,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ordering": false,
            "drawCallback": function (settings) {
                //onDataBound();
            },
            //"fixedColumns": {
            //    leftColumns: 0
            //},
            "ajax": {
                "url": "/GetUDCHeaders",
                "type": "GET",
                "datatype": "json",
                //"data": RequestSearchData()
            },
            "columns": [
                {
                    "data": "Header",
                    "name": "Header",
                    "title": "Header",
                    "className": "text-left"
                },
                {
                    "data": "IsHeader",
                    "name": "IsHeader",
                    "title": "IsHeader",
                    "className": "text-left"
                },
                {
                    "data": "description",
                    "name": "description",
                    "title": "description",
                    "className": "text-center"
                },
                {
                    "data": "IsDeleted",
                    "name": "IsDeleted",
                    "title": "IsDeleted",
                    "className": "text-center"
                }
            ],
    
            "columnDefs": [
                {
                    "targets": "_all",
                    "className": "text-center",
                    "autoWidth": true
                }],
            "lengthMenu": [[15, 30, 45, 60], [15, 30, 45, 60]],
            //"lengthMenu": [[2, 3, 4, 6], [2, 3, 4, 6]],
            "buttons": []
        });
    }
    
    
    function getToolTip(Days, ApprovedBy) {
        var tooltip = '';
        tooltip += 'Days: ' + Days + '\n';
        tooltip += 'Approved By: ' + ApprovedBy + '\n';
        return tooltip;
    }
    
    function getIcon(status) {
    
        if (status == false) {
            return "<i class='fa fa-times text-danger'  aria-hidden='true'></i>"
        }
        else {
            return "<i class='fa fa-check text-success'  aria-hidden='true'></i>"
        }
    
    }
    
</script>
{% endblock body %}