{% extends "_Layout.html" %}
{% block title %}UDC Master{% endblock title %}About
{% block body %}
<h1 class="text-center">UDC Master</h1>

    <form method="post" action="/AddUDC">

        {% csrf_token %}
        <div class="container-fluid box">
            <div class="chartbg">
                <div class="row">
                    <div class="col-12">
                        <div class="card-body">
                            <h4 class="heading">
                                Employee details
                            </h4>
                        </div>
                    </div>
                </div>
                <hr>
                
                <div class="row">
        
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Header</label>
                                <input type="text" class="form-control" id="header" name="header" placeholder="User defined header">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="isHeader">Is Header</label>
                                <div class="form-check">
                                   <input type="checkbox" class="form-check-input" id="isHeader" name="isHeader" value="true">
                                   <label class="form-check-label" for="isHeader">Check if this is a header</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Val1</label>
                                <input type="text" class="form-control" id="val1" name="val1" placeholder="Display value">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Val2</label>
                                <input type="text" class="form-control" id="val2" name="val2" placeholder="Actual/Aleternate value">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="parentId">Parent Id</label>
                                <select class="form-control" id="parentId" name="parentId">
                                    <option value="">Select Parent</option>
                                    {% for parent in parents %}
                                        <option value="{{ parent.id }}">{{ parent.Header }}</option> <!-- Adjust the attribute according to your model -->
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="relationId">Relation Id</label>
                                <select class="form-control" id="relationId" name="relationId">
                                    <option value="">Select Relation</option>
                                    {% for relation in relations %}
                                        <option value="{{ relation.id }}">{{ relation.val1 }}</option> <!-- Adjust the attribute according to your model -->
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Description</label>
                                <textarea class="form-control" id="Description" name="Description" rows="3"></textarea>
                            </div>
                        </div>
                    </div>

                    
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="card-body">
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">submit</button>
                            </div>
                        </div> 
                   </div>               
                   </div>
            </div>
        </div>

    </form>
{% endblock body %}